/* ----- Global-Styles----- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a, 
a:active,
a:hover {
    text-decoration: none;
}

/* ----- Variables----- */

:root {

    /* Colors */

    --white-color: #fafafa;
    --light-gray: #ccc;
    --dark-color: #333;
    --light-blue: #94d0cc;

}

/* ----- Header-Styles----- */

.header {
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: var(--white-color);
    box-shadow: 0 2px 10px 0 var(--light-gray);
}

.nav__menu{
    display: flex;
    gap: 25px;
}

.nav__menu-list a {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--dark-color);
    transition: color 300ms;
}

.nav__menu-list a:hover {
    color: var(--light-blue);
}

/* ----- Main-Styles----- */

.main {
    padding: 0 100px;
    height: calc(100vh - 50px)
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background, .color {
    font-size: 4rem;
}

.color {
    text-transform: uppercase;
    color: var(--light-blue);
}

.background {
    color: var(--white-color);
    background-color: var(--dark-color);
    padding: 10px 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    letter-spacing: 2px;
    text-align: center;
}

.btn-hero {
    padding: 12px 20px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid var(--dark-color);
    border-radius: 10px;
    transition: background-color 500ms, color 500ms;
    cursor: pointer;
}

.btn-hero:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}


/* ----- Hamburguer Menu ----- */

.hamb-menu {
    display: none;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}

.hamb-menu span {
    display: block;
    height: 3px;
    width: 20px;
    background-color: var(--dark-color);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*  Hamb-Menu Animation */

/* Animation Open */

#menu.open .top-bar {
    animation-name: top-bar-animation;
}

#menu.open .mid-bar {
    animation-name: mid-bar-animation;
}

#menu.open .bot-bar {
    animation-name: bot-bar-animation;
}

/* Animation Closed */

#menu .top-bar {
    animation-name: top-bar-animation-close;
}

#menu .mid-bar {
    animation-name: mid-bar-animation-close;
}

#menu .bot-bar {
    animation-name: bot-bar-animation-close;
}

/* KeyFrames Open*/

@keyframes top-bar-animation {
     50%, 100% {
         margin: 0 auto;
         transform: translateY(6px) rotate(-45deg);
     }
}

@keyframes bot-bar-animation {
    50%, 100% {
        margin: 0 auto;
        transform: translateY(-6px) rotate(45deg);
    }
}

@keyframes mid-bar-animation {
    20%, 100% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}

/* KeyFrames Open*/


@keyframes top-bar-animation-close {

    0% {
        margin: 0 auto;
        transform: translateY(6px) rotate(-45deg);
    }

    50%, 100% {
        margin: 0 auto;
        transform: translateY(0) rotate(0);
    }
}

@keyframes bot-bar-animation-close {

    0% {
       margin: 0 auto;
       transform: translateY(-6px) rotate(45deg);
    }

    50%, 100% {
        margin: 0 auto;
        transform: translateY(0) rotate(0);
     }     

   
}

@keyframes mid-bar-animation-close {

    0% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }

    20%, 100% {
        margin: 0 auto;
        width: 20px;
        opacity: 1;
    }
}


/* ----- Helpers ----- */

.bg-c {
    background-color: yellowgreen;
}

/* ----- Media Queries ----- */

@media screen and (max-width: 600px) {

    .main, .header {
        padding: 0 25px;
    }

    .background, .color {
        font-size: 2rem;
    }

    .hamb-menu {
        display: flex;
    }

    .nav__menu {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -100%;
        width: 80%;
        transform: translate(-50%, 0);
        padding: 25px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: #fafafa;
        box-shadow: 0 1px 3px #ddd;
        text-align: center;
        transition: top 500ms;
    }

    .show-menu {
        top: 53px;
        transition: top 500ms;
    }

}

@media screen and (max-width: 375px) {
    .background, .color {
        font-size: 1.6rem;
    }
}